:root {
    --dark-color: #3f3f3f;
    --light-color: #f3f3f3;
    --freedom-color: #ff00CC;
    --freedom-color-light: hsl(312, 100%, 92%);
}

* {
    margin: 1em;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    color: var(--light-color);
    background-color: var(--dark-color);
}

fieldset
{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px 10px;
    background-color: var(--freedom-color-light);
    width: 50%;
    color: var(--dark-color);
}

.Container
{
    display: flex;
    justify-content: space-around;
    column-gap: 1em
}

.ButtonContainer {
    display: flex;
    justify-content: space-around;
    column-gap: 1em;
}

legend
{
    padding: 3px 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--freedom-color);
    color: white;
    font-weight: bold;
}

label {
    font-weight: bold;
}

input[type="number"], 
input[type="email"], 
input[type="password"],
input[type="date"],
input[type="time"],
input[type="text"], 
input[type="email"], 
input[type="password"],
select
{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

button {
    width: 90%;
    background-color: var(--freedom-color);
    color: white;
    padding: 10px 20px;
    margin: auto 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    border: 1px solid black;
}

button:hover {
    background-color: var(--freedom-color-light);
    color: var(--dark-color);
}